---
import LogoMininal from "../icons/LogoMininal.astro";
---

<section class="text-xl grid gap-2">
  <LogoMininal />
  <div>
    <p>© Copyright 2022</p>
    <p>Abstract Studio Design, Inc.</p>
    <p>All rights reserved</p>
  </div>
</section>
