---
export interface Props {
  title: string;
  links: string[];
  strong?: string;
  strongLink?: string;
}
const { title, links, strong, strongLink } = Astro.props;
---

<article class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">{title}</h2>
  <ul>
    {
      links.map((link) => (
        <li>
          <a class="hover:underline" href="/">
            {link}
          </a>
        </li>
      ))
    }
  </ul>
  {
    strong && (
      <strong>{strong}</strong>
      <ul>
        <li><a class="hover:underline" href="/">{strongLink}</a></li>
      </ul>
    )
  }
</article>
