---
import Arrow from "../icons/Arrow.astro";
---

<header class="p-8 md:p-32 bg-headerBg text-center grid gap-4">
  <h2 class="text-7xl">How can we help?</h2>
  <form
    class="flex w-full max-w-4xl mx-auto rounded-sm hover:text-accent text-black border border-black hover:border-accent shadow-lg peer-focus:border-accent"
  >
    <input
      class="w-[90%] p-4 focus:outline-none text-black text-lg peer"
      placeholder="Search"
      type="text"
    />
    <i class="w-[10%] bg-white grid place-items-center peer-focus:text-accent">
      <Arrow />
    </i>
  </form>
</header>
