---
import Logo from "../icons/Logo.astro";
---

<nav class="bg-black text-white px-16 py-8 text-2xl flex justify-between">
  <h1><span class="font-bold">Abstract</span> | Help Center</h1>
  <ul class="flex gap-4">
    <li>
      <a
        class="bg-[#191a1b] px-4 py-2 rounded border-background border"
        href="/">Submit a request</a
      >
    </li>
    <li>
      <a class="bg-accent px-6 py-2 rounded" href="/">Sign in</a>
    </li>
  </ul>
</nav>
