---
import Option from "./Option.astro";
import { OPTIONS } from "../Data";
---

<section class="p-32">
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-16">
    {
      OPTIONS.map(({ title, description, image }) => {
        return (
          <li>
            <Option title={title} image={image} description={description} />
          </li>
        );
      })
    }
  </ul>
</section>
